/*
  base.css   Thu Mar  1 12:57:22 CST 2018
 This was lifted quick and dirty from humonc_students. These are the basic style 
 elements that all views should use.
*/


html {
    width:100%;
    height:100%;
}

body {
    font-family: Arial, Helvetica, sans-serif; 
    width:100%;
    height:100%;
}




h1 {
    padding-left:1em;
}

/** TOP **/
.page_header{
	margin-top:-6em;
	margin-left:-10px;
	border-bottom: 10px #666152 solid;
	width:100%;
	background-color:#8EA29F;
	z-index: 10;
	opacity: 1.0;

	position: fixed;
} 

.page_header h1 {
    vertical-align: top;
     overflow: hidden;
   
    display:inline;
    float: left;
}

.in_header {
    position: relative;
}

/*  format for the links at the top of the page  */
.head_action {
    margin-left: 0.5em;
    margin-right: 0.5em;
   padding-top: 1em;
   display:inline-block; 
   float: right;
}

/*  */
.aligned_head_button{
    margin-top: 1.5em;
}

a.home_button {
    padding: 1em 0 0 2em;
    float: left;
}

/*  Align the date inputs for the orders list */
.date_nav {
    padding-top: 0.5em;
}

/********************************************************************************/
/* Let's use pulldown-menus instead of the side column*/
/* Dropdown Button */
.dropbtn {
    margin-left:6em;
    background-color: #3498DB;
    color: white;
    padding:4px 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    margin-left:2em;
    position: absolute;
    font-size: 14px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
/********************************************************************************/

.a_button {
   margin-top:1.5em;
   margin-right:3em;
   font-size:80%;
   font-weight:bolder;
   text-align:center;
   padding: 5px 0.25em ;
}

.search_button {
   margin-left:3em;
   margin-right:3em;
   font-size:80%;
   font-weight:bolder;
   text-align:center;
   padding: 5px 0.25em ;
}

/* TODO: rethink head action so that it is more flexible */
.large_head_action{
   margin-top:0.5em;    /* account for the larger font-size: */
   margin-right:2.0em;
   font-size:160%;
   font-weight:bolder;
   text-align:center;
   padding: 5px 0.25em ;
   display:inline-block; 
   float: right;
}

/* disable a "link" button */
.a_button_disabled {
    color: #000;
    background-color: #e8e4d8;
    color:#333366;

    margin-top:1.5em;
    margin-right:3em;
    font-size:80%;
    font-weight:bolder;
    text-align:center;
    padding: 5px 0.25em ;
    
    cursor: not-allowed;
    pointer-events: none;
    display:block;
    text-decoration:none; 
    border-radius: 4px;
}


button.a_button{
    color:#333366;
/* 
    background-color: #D5D5A0;
 */
	background-color:#99C8D3;
    border-radius: 2px;
}

button.a_button:hover{
    color: #000;
    background-color: #e8e4d8;
}

a.a_button:link, a.a_button:visited, a.a_button:active {
    color:#333366;
    background-color: #DBE1DA;
/* 
    background-color: #D5D5A0;
 */
    display:block;
    text-decoration:none; 
/* 
    border: 2px solid #aaa; 
 */
    border-radius: 4px;
}


a.a_button:hover {
    color: #000;
    background-color: #e8e4d8;
    display:block;
    text-decoration:none; 
    border-radius: 4px;
}

/* Greet the user on the front page */
.front_page_list {
    display: inline-block;
    width: 49%;
    text-align: center;
}

div.front_page_list a {
    font-size: 1.2em;
    font-weight: bold;
    color: #242453;
}

.delete_button {
    font-size: 0.8em;
    text-decoration:none; 
    padding-left:1em;
}
span.delete_button:link, span.delete_button:visited, span.delete_button:active
 {
    color: #055;
}
span.delete_button:hover {
    color: #e00;
    cursor: pointer;
}

/* format the to front pointers */
a.front_page_link:link, a.front_page_link:visited, a.front_page_link:active{
    color: #CC5F00;
    text-decoration:none; 
}

a.front_page_link:hover {
    color: #0088CC;
    text-decoration:none; 
}  

/* 
.delete_app_button, .delete_lot_info_button {
    font-size: 0.8em;
    text-decoration:none; 
    padding-left:1em;
}
span.delete_app_button:link, span.delete_app_button:visited, span.delete_app_button:active,
span.delete_lot_info_button:link, span.delete_lot_info_button:visited, span.delete_lot_info_button:active
 {
    color: #055;
}
span.delete_app_button:hover, span.delete_lot_info_button:hover {
    color: #e00;
    cursor: pointer;
}

 */

/*** LOWER PORTION LAYOUT ***/
#wrapper {
/* 
    margin-top:5.5em;
 */
    margin-top:6em;
}
/*** LOWER PORTION LAYOUT ***/
/* The storage grids need a little more space for extra actions */
#wrapper_storage {
/* 
    margin-top:5.5em;
 */
    margin-top:7em;
}

#display {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding:1.5em;
    overflow-x: scroll;
    overflow-y: scroll;
}

.centered {
    text-align: center;
}

.full_centered {
    width: 100%;
    text-align: center;
}

.left {
    float:left;
}
.right {
    float:right;
}

.clear {
    clear: both;
    display:block;
}

button.semi_faux {
    font-size:0.9em;
    padding:0 0.75em;
    margin-top:0.2em;
    margin-left:2em;
    border: 1px solid #aaa; 
    border-radius: 4px;
}

.faux_button {
    margin-left:3em;
    padding:0 0.75em;
}

a.faux_button:link, a.faux_button:visited, a.faux_button:active, a.faux_button:hover {
    color: #333;
    background-color: #FFF;
    cursor: default;
    font-size:85%;
    font-weight:300;
    text-decoration: none;
    border: 1px solid #ddd; 
    border-radius: 4px;
}

/* 
Making a real, submit input button look and act like a faux_button. It turns out 
that actual "button" elements are flakey with enable/disable and changing pointer
types.
*/

.faux_faux_button {
    margin-left: 3em;
    font-size: 140%;
}

/* used for enabling and disabling the print button */
.disabled_link {
    color: #444;
    background-color: #777;
    
   pointer-events: none;
   cursor: default;
}


#footer p {
	text-align: center;
	margin-bottom: .5em;
}



