/*
  forms.css - 16 August 2016 - originally part of primary.css
*/

.hovering {
    cursor: pointer;
}


td.centered {
    text-align: center;
}
tr td, input {
    text-align: left;
}


/* 
order buttons for individual rows - like delete buttons, only they are another color 
*/

td.order a:link, td.order a:visited, td.order a:active {
    color:#333366;
/* 
    background-color: #EAEAA0;
 */
    background-color: #DBE1DA;
}

td.order a:hover {
    color: #000;
    background-color: #e8e4d8;
}

/* 
reorder buttons for individual rows
 */
td.reorder a:link, td.reorder a:visited, td.reorder a:active {
    color:#333366;
    background-color: #D5D5A0;
}

td.reorder a:hover {
    color: #000;
    background-color: #e8e4d8;
}

.smaller {
    font-size: 80%;
}


.large_button {
    font-size:120%;
}

/* 
For the biochemical_index msds selection
 */
 .iblock{
    display: inline-block;
 }
#draggable_file_list {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    height: 100vh;
    padding: 10px;
    margin-bottom: 1em;
    border: 1px solid #aaaaaa;
    overflow-y: scroll;
}
#drag_to {
    vertical-align: top;
    width: 80%;
    height: 2em;
    padding: 10px;
    border: 1px solid #aaaaaa;
}


#form_wrap {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
    background-color: #FBF9EF;
}

span.tag {
    font-weight: bold;
    display: inline-block;
    width: 140px;
    padding-top: 0.5em;
    border-bottom: 1px solid black;
}

span.short_tag {
    font-weight: bold;
    display: inline-block;
    padding-top: 0.5em;
    border-bottom: 1px solid black;
}

span.tag_expanded {
    font-weight: bold;
    display: inline-block;
    width: 160px;
    padding-top: 0.5em;
    border-bottom: 1px solid black;
}

span.tag_long {
    font-weight: bold;
    display: inline-block;
    width: 220px;
    padding-top: 0.5em;
    border-bottom: 1px solid black;
}

span.info {
    padding: 0.5em 0.5em 0 0;
/* 
    border-bottom: 1px solid gray;
    display: inline-block;
    vertical-align: middle;
 */
}

span.order_input input{
/* 
    padding: 0.5em 2em 0 0;
 */
    margin: 0.5em 2em 0 0;
    display: inline-block;
/* 
    vertical-align: middle;
 */
}

span.half {
    display: inline-block;
    width: 49%;
}

span.third {
    display: inline-block;
    width: 32%;
}

span.leftForm {
    display: inline-block;
    width: 35%;
}

span.rightForm {
    display: inline-block;
    width: 64%;
}

span.leftForm_new {
    display: inline-block;
    width: 48%;
}

span.rightForm_new {
    display: inline-block;
    width: 48%;
}

span.remark {
    vertical-align: middle;
    padding-top: 0.5em;
    display: inline-block;
    width: 630px;
}

.signature {
    display: inline-block;
    margin-left: 10px;
    vertical-align: bottom;
    width:500px;
    border-bottom: 1px solid #000;
}

.not-active{
   pointer-events: none;
   cursor: default;
   background-color: #BBB;
}

.form_text {
   width: 52em;
   height: 4em;
}



/* for displaying the msds  */ 
#show_msds {
    padding-left: 1.5em;
    font-weight: bold;
}

.form_wrapper {
    padding-left: 1.5em;
}

.stay_put {
    position:fixed;
    width:250px;
    top:0;
    right:30%;
}

#lot_info_input {
    width:95%;
    margin-left:auto;
    margin-right:auto;
}

#add_lot_button, #add_application {
    margin-left:2em;
}

/* For descriptors Application, keywords, recognizes, and species */
ul.descriptor_list {
    list-style-type: none;
    margin-left:-10px;
}

.no_yes_cell {
    text-align:center;
}

.date_cell {
    text-align:center;
    width:8em;
}


textarea.wide {
    height: 3em;
    width: 600px;
}

.cash {
    text-align: left;
    font-size: 110%;
}

.location_form {
   margin-top:2em;
   padding-left:1.5em;
   display:inline-block; 
}

.location_param {
    padding-left:1.5em;
}



.accented_link {
    margin:0.25em 3em;
    padding:0 0.75em;
}

a.accented_link:link, a.accented_link:visited, a.accented_link:active {
    color: #333;
    background-color: #FFF;
    text-decoration: none;
    border: 1px solid #aaa; 
    border-radius: 4px;
}

 a.accented_link:hover {
    color: #333;
    background-color: #DEDEEF;
    text-decoration: none;
    border: 1px solid #aaa; 
    border-radius: 4px;
}

/* for buttons that we want to set away from the others */
.quarantined {
    float: right;
}

.left_padded {
   margin-left:3em;
}

/* For brief paragraphs that describe what needs to be done on a form */
.instructive {
    padding: 1em;
    font-weight: 600;
}


@media print {
    html { 
        margin-top:-60px;
/* 
        margin-left: -10em;
 */
/* 
        width:1400px;
 */
        padding: 0;
        margin-top:-60px;

        width: 8.5in;
        height: 11in;
        
        overflow: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    body {
        overflow: hidden;
    }
    #display {  
        position: absolute;
        padding:2.0em;
    }

/* 
    #form_wrap {printable
 */
    .printable {
/* 
        width:100%;
 */
        background-color: #FFF;
        margin-top: -1em;
        margin-left: auto;
        margin-right: auto;
/* 
        border: 2px solid #000000;
 */
    }
  
   .page_header {
      display:none;
   }
   
   .blanket_orders{
      display:none;
   }
   
   #side_menu {
      display:none;
   }
   button {
      display: none;
   }
   a {
      display: none;
   }

    input[type=text] {
        border: none;
        border-bottom: 2px solid #000000;
    }
    input[type=submit] {
        display: none;
    }

    @page {
        width:100%;
/* 
        margin-left: -2em;
        margin-right: 0;
 */
/* 
    margin: 0.5cm;
 */
    background-color: #FFF;
    }
    .main-menu, #side_menu {
      display: none;
    }
}

