// 
// _footer.scss:  Wed Dec 19 14:50:16 CST 2018
// 



/* footer */
#footer {
	padding-bottom: 40px;
	width: 100%;
	padding-top: 10px;
	background-color: transparent;
	font-size: 0.6875em;
	line-height: 1;
	color: #999;
	border-top: 10px #666152 solid;
}

#footer p {
	text-align: center;
	margin-bottom: .5em;
}
