// 
// _page_header.scss:  Tue Feb 5 12:35:55 CST 2019
// 


/** TOP **/
.page_header{
	margin-top:-6em;
	margin-left:-10px;
	border-bottom: 10px #666152 solid;
	width:100%;
	background-color:$header_bg_color;
	z-index: 10;
	opacity: 1.0;

	position: fixed;
} 

.page_header h1 {
    vertical-align: top;
    overflow: hidden;
   
    display:inline;
    float: left;
}

.in_header {
    position: relative;
}

/*  format for the links at the top of the page  */
.head_action {
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding-top: 1em;
    display:inline-block; 
    float: right;
}

/*  */
.aligned_head_button{
    margin-top: 1.5em;
}

a.home_button {
    padding: 1em 0 0 2em;
    float: left;
}

/*  Align the date inputs for the orders list */
.date_nav {
    padding-top: 0.5em;
}
