// 
// _vars.scss:  Wed Dec 19 13:42:56 CST 2018
// 

$full_size: 100%;
$header_bg_color: #8EA29F;


// fonts
$verlag-font: "Verlag", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$serif-font: Georgia,Times New Roman,Times,serif !default;
$vitesse-font: "Vitesse", "Helvetica Neue", "Helvetica", "Arial" !default;

$default-button-bg: #99C8D3;
$default-button-bghover: #e8e4d8;
$default-button-color: #333366;
$default-button-hover-color: #000;
$default-button-fontsize: 80%;
$large-button-fontsize: 160%;

