// 
// _vars.scss:  Wed Dec 19 13:42:56 CST 2018
// 

$full_size: 100%;
$header_bg_color: #8EA29F;


// fonts
$verlag-font: "Verlag", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$serif-font: Georgia,Times New Roman,Times,serif !default;
$vitesse-font: "Vitesse", "Helvetica Neue", "Helvetica", "Arial" !default;

